VIOT_DOMAIN_URL=viot.cloud

# Postgres db
VIOT_POSTGRES_SERVER=localhost
VIOT_POSTGRES_PORT=5432
VIOT_POSTGRES_USER=postgres
VIOT_POSTGRES_PASSWORD=postgres
VIOT_POSTGRES_DB=postgres

# Redis
VIOT_REDIS_SERVER=localhost
VIOT_REDIS_PORT=6379

# Email
VIOT_EMAIL_HOST=localhost
VIOT_EMAIL_PORT=1025
VIOT_EMAIL_SSL=False
VIOT_EMAIL_USER="test@gmail.com"
VIOT_EMAIL_PASSWORD="1234"

VIOT_CELERY_BROKER_REDIS_DATABASE=0
VIOT_CELERY_BACKEND_REDIS_DATABASE=1

# JWT
VIOT_JWT_SECRET=secret
VIOT_JWT_ALG=HS256
VIOT_JWT_ACCESS_TOKEN_EXP=600

VIOT_JWT_REFRESH_TOKEN_EXP=86400
VIOT_JWT_REFRESH_TOKEN_SAMESITE=Lax
VIOT_JWT_REFRESH_TOKEN_DOMAIN=viot.cloud
VIOT_JWT_REFRESH_TOKEN_SECURE=true
